body{
   background-color: black;
   text-align: center;
   font-family: Verdana;
}
h1{
    color: white;
    font-weight:normal;
    font-size:50px;
    color:white;
    

}
a{
    color: aquamarine;
    font-weight:700;
    font-size:16px;
}
p{
    color: white;
    font-size:21px;
    color:gray;

}
h2{
    color:white;
    font-weight: 300;
    font-size: 42px;
}
span{
    text-align: right;
    font-weight: 600;
    color: gray;
    font-size:21px;

}
ul{
    text-align: right;
}
div{
    margin: 20px 0;
}